*.suo
Browse.VC.db
Browse.VC.opendb
Solution.VC.db
Solution.VC.db-shm
Solution.VC.db-wal
Solution.wal
Backup/
UpgradeLog.htm
*.vcxproj.user

*.exp
*.lib
*.pdb
*.dll
*.ilk
*.log
*.obj
*.exe
*.iobj
*.ipdb

CL.command.1.tlog
CL.read.1.tlog
CL.write.1.tlog
*.lastbuildstate
*.write.1u.tlog
link.command.1.tlog
link.read.1.tlog
link.write.1.tlog
link.delete.1.tlog
Lib-link.read.1.tlog
Lib-link.write.1.tlog
Lib.command.1.tlog
rc.command.1.tlog
rc.read.1.tlog
rc.write.1.tlog
*.vcxproj.FileListAbsolute.txt
Version.res

*.idb
*.ipch

*.bmp

unsuccessfulbuild